@{
    ViewBag.Title = "Contact";
}

<h2>Liên hệ với chúng tôi</h2>
@*<h3>@ViewBag.Message</h3>*@
<p>Nhà Hàng Nk - Order </p>
<p>Công ty cổ phần NK Cloud</p>
<p>Địa chỉ: Gò Vấp, TPHCM</p>
@*<address>
    One Microsoft Way<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>*@

<address>
    <strong>Hỗ trợ bảo mật:</strong>   <a href="mailto:1951050058nhu@ou.edu.vn">1951050058nhu@ou.edu.vn</a><br />
    <strong>Đặt hàng:</strong> <a href="mailto:phanthihuynhnhupy206@gmail.com">phanthihuynhnhupy206@gmail.com</a>
</address>










