<p></p>
<div class="container">
    <div class="row">
        @Html.ActionLink("Quản lý admin", "Index", "RoleAdmin")
    </div>
    <div class="row">
        @Html.ActionLink("Quản lý Users", "Index","UserAdmin")
    </div>

</div>
